<AuthorizeView>
    <Authorized>
        <div class="alert alert-secondary mt-4 fix-bottom">
            <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
            <strong>You are now AUTHORIZED! Congratulations! </strong>
        </div>
    </Authorized>
</AuthorizeView>